.companies {
    background-color: #ffffff;
    img { height: 65px; }
    .company-list { 
        list-style: none;
        li { margin-right: 50px; }
        &:first-child {
            margin-bottom: 50px;
        }
    }
}

@media screen and (max-width: 1200px) {
    .companies {
        img {
            height: 40px;
        }
    }
}

@media screen and (max-width: 1024px) {
    .companies {
        img {
            height: 30px;
        }
    }
}

@media screen and (max-width: 768px) {
    .companies {
        img {
            height: 50px;
        }
    }
    .company-list {
        flex-direction: column;
        align-items: center;
        margin-bottom: 0 !important;
        li { margin-bottom: 20px;}
    }
}