.header__logo {
    font-size: 170%;
}


.sticky {
  background: #333;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  box-shadow: 1px 1px 1px #222;
  animation: moveDown 0.5s ease-in-out;
  z-index: 9999;
}

.active {
  font-weight: 700;
}

@keyframes moveDown {
  from {
    transform: translateY(-5rem);
  }
  to {
    transform: translateY(0rem);
  }
}