.hero {
    padding: 150px 0;
    background-image: url('../../img/pattern.png');
  }
  
  .hero h2,
  .skills .skills__content h2 {
    margin-bottom: 10px;
  }
  
  .hero__introduction {
    width: 70%;
    margin: 0 auto;    
  }
  
  .hero__photo {
    width: 300px;
    max-width: 400px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
  
  .hero__icons {
    text-align: center;
  }
  
  .hero__lightning-icon {
    margin-bottom: 10px;
  }

  @media screen and (max-width: 768px) {
    .hero {
      &__introduction { flex-direction: column; }
      div { text-align: center; }
      &__photo { margin-bottom: 20px; }
    }
  }