h1, h2 {
    font-family: 'Oswald', sans-serif;
}

h2 {
    font-size: 250%;
    margin-bottom: 45px;
}

p {
    font-family: 'EB Garamond', serif;
    text-align: justify;
    width: 70%;
    margin: 20px auto;
}

*:focus {
    outline: none;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.header__logo {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 170%;
    letter-spacing: 1px;
    color: #000000;
}

.nav-link {
    color: #fff;
}


.primary-color {
    background-color: #9bdb6d;
}

ion-icon {
    margin-bottom: -5px;
    font-size: 150%;
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.982);
    box-shadow: 0 2px 2px rgb(191, 191, 191);
    z-index: 9999;
}
.nav-item .menu-item {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

/* -------------------------------- */
/* ------  HERO SECTION  ---------- */
/* -------------------------------- */

.hero {
    padding: 150px 0;
    background-image: url('/resources/img/pattern.png');
}

.hero h2,
.skills .skills__content h2 {
    margin-bottom: 10px;
}

.hero__introduction {
    width: 70%;
    margin: 0 auto;    
}

.hero__photo {
    width: 300px;
    max-width: 400px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.hero__icons {
    text-align: center;
}

.hero__lightning-icon {
    font-size: 200%;    
    margin-bottom: 10px;
}

/* -------------------------------- */
/* ------  ABOUT SECTION  --------- */
/* -------------------------------- */

.about {
    background-color: #9bdb6d;
}

.about__long-copy {
    font-size: 120%;
    line-height: 2rem;
    margin: 90px 20%;
}

/* -------------------------------- */
/* ------  SKILLS SECTION  -------- */
/* -------------------------------- */
.skills {
    background-color: #fcfcfc;
    padding: 70px 0;
}

.skills .skills__content .skills__icon {
    font-size: 300%;
}

.skills__cards {
    width: 70%;
    margin: 0 auto;
    -webkit-box-shadow: 2px 2px 2px 0px rgba(150,150,150,1);
    -moz-box-shadow: 2px 2px 2px 0px rgba(150,150,150,1);
    box-shadow: 2px 2px 2px 0px rgba(150,150,150,1);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.skills__nav {
    margin-bottom: -25px;
}

.skills__nav-link { 
    background-color: whitesmoke;
}

.skills__nav .skills__nav--wide .skills__nav-link {
    color: black;
    border-color: #dee2e6 #dee2e6 #fff !important;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.skills__nav-link.active {
    color: #9bdb6d !important;
}

.skills__nav--wide {
    width: 33%;
}

.skills__nav--wide:last-child {
    width: 34%;
}

.skills__nav--wide a {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

.skills__content {
    width: 100%;
    background-color: #fff;
    border: 1px solid transparent;
    border-color: #dee2e6 #dee2e6 #fff;
    border-top: none;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.skills__tab {
    padding: 20px 0px
}

.skills__btn {
    font-family: 'Oswald', sans-serif;
    background-color: #9bdb6d;
    color: white;
    padding: 10px 30px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border: 2px solid #9bdb6d;
}

.skills__btn:hover,
.skills__btn:active {
    font-family: 'Oswald', sans-serif;
    background-color: #fff;
    color: #9bdb6d;
    padding: 10px 30px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.tab-content li {
    font-family: 'EB Garamond', serif;
    margin-bottom: 5px;
}


/* -------------------------------- */
/* ------  PROJECTS SECTION  ------ */
/* -------------------------------- */
.projects {
    width: 70%;
    margin: 0 auto;
    padding: 70px 0;
}

.projects__card {
    width: 30%;
    margin: 1%;
    overflow: hidden;
}

.img-hover {
    background-color: #9bdb6d;
}

.img-hover img{
    width: 100%;
    margin: 0;
    transform: scale(1.15);
    transition: 0.5s;
    opacity: 1;
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.img-hover:hover img {
    transform: scale(1.03);
    transition: 0.5s;
    opacity: 0.6;
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -ms-transform: scale(1.03);
    -o-transform: scale(1.03);
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

.projects__btn {
    font-family: 'Oswald', sans-serif;
    background-color: white;
    color: #9bdb6d;
    margin: 0 15%;
    width: 70%;
    padding: 5px 30px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border: 2px solid #9bdb6d;
    opacity: 0;
    transition: opacity .35s ease;
    -webkit-transition: opacity .35s ease;
    -moz-transition: opacity .35s ease;
    -ms-transition: opacity .35s ease;
    -o-transition: opacity .35s ease;
}

.projects__btn:hover,
.projects__btn:active {
    background-color: #9bdb6d;
    color: white;
}

.img-hover:hover .projects__btn {
    opacity: 1;
}

.img-hover h4 {
    font-family: 'Oswald', sans-serif;
    color: #000;
    opacity: 0;
    transition: opacity .35s ease;
    -webkit-transition: opacity .35s ease;
    -moz-transition: opacity .35s ease;
    -ms-transition: opacity .35s ease;
    -o-transition: opacity .35s ease;
}

.img-hover:hover h4 {
    opacity: 1;
}



/* -------------------------------- */
/* ------  TESTIMONIALS SECTION  --- */
/* -------------------------------- */
.testimonials {
    /* obrazek w tle */
    height: 400px;
}

/* -------------------------------- */
/* ------  COMPANIES SECTION ------ */
/* -------------------------------- */
.companies {
    background-color: #e9e9e9;
    height: 400px;
}

/* -------------------------------- */
/* ------  CONTACT SECTION  ------- */
/* -------------------------------- */
.contact {
    background-color: #9bdb6d;
    height: 400px;
}


/* -------------------------------- */
/* ------  FOOTER  ---------------- */
/* -------------------------------- */
footer {
    color: #fff;
    background-color: rgb(70, 70, 70);
}
