.contact {
    background-color: #9bdb6d;
    a {
        color: black;
        text-decoration: none;
        font-family: 'EB Garabond', serif;
        transition: .5s;
        -webkit-transition: .5s;
        -moz-transition: .5s;
        -ms-transition: .5s;
        -o-transition: .5s;
        &:hover,
        &:active {
            color: white;
        }
    }
    ul, .contact-form {
        border: 5px solid white;
        padding: 30px 20px;
        text-align: center;
        font-size: 130%;
    }
    li {
        list-style: none;
        margin-bottom: 10px;
    }
    .contact__row {
        width: 70%;
        margin: 0 auto;
    }
    p {
        text-align: center;
    }
}


