.skills {
    background-color: #f2f2f2;
}

.skills .skills__content .skills__icon {
    font-size: 300%;
}

.skills__cards {
    width: 70%;
    margin: 0 auto;
    -webkit-box-shadow: 2px 2px 2px 0px rgba(150,150,150,1);
    -moz-box-shadow: 2px 2px 2px 0px rgba(150,150,150,1);
    box-shadow: 2px 2px 2px 0px rgba(150,150,150,1);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.skills__nav {
    height: 49px;
}

.skills__nav-link { 
    background-color: whitesmoke;
    font-size: 140%;
}

.skills__nav .skills__nav--wide .skills__nav-link {
    color: black;
    border-color: #dee2e6 #dee2e6 #fff !important;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.skills__nav-link.active {
    color: #fff !important;
}

.skills__nav--wide {
    width: 33%;
}

.skills__nav--wide:last-child {
    width: 34%;
}

.skills__nav--wide a {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

.skills__content {
    width: 100%;
    background-color: #fff;
    border: 1px solid transparent;
    border-color: #dee2e6 #dee2e6 #fff;
    border-top: none;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.skills__tab {
    padding: 20px 0px
}

.skills__btn {
    font-family: 'Oswald', sans-serif;
    background-color: #9bdb6d;
    color: white;
    padding: 10px 30px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border: 2px solid #9bdb6d;
}

.skills__btn:hover,
.skills__btn:active {
    font-family: 'Oswald', sans-serif;
    background-color: #fff;
    color: #9bdb6d;
    padding: 10px 30px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.tab-content li {
    font-family: 'Oswald', sans-serif;
    font-size: 110%;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.experience__company-logo {
    width: 50%;
    margin-bottom: 15px;
}

.responsibilities-list li {
    font-family: 'EB Garamond', serif;
    text-transform: unset;
    font-weight: 400;
    text-align: left;
}

@media screen and (max-width: 1200px) {
    .work-history__header {
        display: none;
    }
}

@media screen and (max-width: 1024px) {
    .skills__cards {
        width: 90%;
    }
    .skills__nav {
        height: unset;
    }
    .experience__row {
        flex-direction: column;
        h4 {
            border-bottom: 2px solid #f2f2f2;
            padding-bottom: 15px;
        }
    }

}